@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title</h2>
<iframe src="https://docs.google.com/presentation/d/e/2PACX-1vTUkAgQACvrTqLCdbVfCrRoudhJoFbFnhYrLLiLRLIIP9HWQ3G4XBO9a_MCJbPNYPTS9y0GeuXeR8-W/embed?start=false&loop=false&delayms=3000" frameborder="0" width="960" height="569" allowfullscreen="true" mozallowfullscreen="true" webkitallowfullscreen="true"></iframe>

<p>You can contact Dr. D. at Dr.D.writingcenters@gmail.com</p>