
@{
    ViewBag.Title = "BodyParagraph";
}

<h2>Body Paragraph</h2>

<iframe src="https://docs.google.com/presentation/d/e/2PACX-1vRTvOtFtvfyYoYSUfCTVqUTNavz6r2tdD4KSXoWiIsFp6VODPhEgzIX0hA2Rs1qgCQQXnVUdIBWef6s/embed?start=false&loop=false&delayms=3000" frameborder="0" width="960" height="569" allowfullscreen="true" mozallowfullscreen="true" webkitallowfullscreen="true"></iframe>