
@{
    ViewBag.Title = "BodyParagraph";
}

<h2>BodyParagraph</h2>

<iframe src="https://docs.google.com/presentation/d/e/2PACX-1vSNf5LBb7gcRK7a_COOre4dpjMW-QCg_S_KZkIraAFegY9rK9MKh6vjfl2OAipfKiwqbNrTZ2-o3rjH/embed?start=false&loop=false&delayms=5000" frameborder="0" width="960" height="569" allowfullscreen="true" mozallowfullscreen="true" webkitallowfullscreen="true"></iframe>