<head>
   <style>
       body {
           background-color: #fff;
           background-image: url(../Scripts/Images/DrdsBackground.jpg);
           background-repeat: repeat-y;
           background-position: 35% -40%;
       }
   </style>
    
</head>

@{
    ViewBag.Title = "Home Page";
}

@*<h3>@ViewBag.Message</h3>*@
<div id="Index">
<div class="col-md-3">
    <br />
 
    <br />

    <a href="~/Views/Home/Assignment"><p>Understanding Your Assignment</p></a>
    <a href="~/Views/Home/WritingProcess"><p>Prewriting Steps</p></a>
    <a href="~/Views/Home/MlaVsApa"><p>Proper Format</p></a>
</div>
<div class="col-md-5">
    <h2>Writing an A paper</h2>
    <br />
    <br />
    
    <a href="~/Views/Home/Thesis"><p>Once you understand your assignment, you can start prewriting and
        formating your paper. After you introduce your idea, and provide some support for it, you need a thesis.
        Your thesis is most commonly at the end of your first paragraph</p></a>
    <br />
    <a href="~/Views/Home/BodyParagraph"><p>Most papers will have a few paragraphs supporting your thesis. 
        Your strongest and most convining arguments shooudl come first followed by weaker, less developed ideas.
        These body paragraphs support your thesis.</p></a>
    <br />
    <a href="~/Views/Home/Conclusion."><p>When you are finished with your body, your conclusion 
        finishes your paper</p></a>


</div>
<div class="col-md-4">
    <br />
    <br />
    <p>Click on any sentince for a powerpoint on that subject</p>
        <h2>Web Hosting</h2>
        <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>
    </div>