<head>
   <style>
       body {
           background-color: #fff;
           background-image: url(../Scripts/Images/DrdsBackground.jpg);
           background-repeat: repeat-y;
           background-position: 35% -40%;
       }
   </style>
    
</head>

@{
    ViewBag.Title = "Home Page";
}

@*<h3>@ViewBag.Message</h3>*@
<div class="col-md-3">
    <br />
 
    <br />

    <a href="~/Views/Home/Assignment">Understanding Your Assignment</a>
    <br />
    <br />
    <a href="~/Views/Home/WritingProcess"><p>Prewriting Steps</p></a>
    <br />
    <a href="~/Views/Home/MlaVsApa"><p>Proper Format</p></a>
</div>
<div class="col-md-5">
    <h1 id="center">Writing an <a class="shadows"><b>A</b> </a> Paper</h1>
    <br />
    <br />
    <p><b>The tutorials in this writing center will walk you through all parts of writing an essay. You can access 
    them by clicking on highlighted text or by using the links in the left margin. Tutorials have strategies for 
    <a href="~/Home/Introduction">writing an introduction</a><a href="~/Home/Thesis">, a thesis statement</a>,
    <a href="~/Home/BodyParagraph">body paragraphs</a>, and<a href="~/Home/Conclusion"> a conclusion</a>.</b>
</p>
    
    
</div>
<div class="col-md-4"></div>
    