<head>
   <style>
       body {
           background-color: #fff;
           background-image: url(../Scripts/Images/DrdsBackground.jpg);
           background-repeat: repeat-y;
           background-position: 35% 125%;
       }
   </style>
    
</head>

@{
    ViewBag.Title = "Home Page";
}

@*<h3>@ViewBag.Message</h3>*@
<div class="col-md-3">
    <br />
 
    <br />

    <a href="~/Views/Home/Assignment">Understanding Your Assignment</a>
    <br />
    <br />
    <a href="~/Views/Home/WritingProcess"><p>Prewriting Steps</p></a>
    <br />
    <a href="~/Views/Home/MlaVsApa"><p>Proper Format</p></a>
</div>
<div class="col-md-5">
    <h1 id="center">Writing an <a class="shadows"><b>A</b> </a> Paper</h1>
    <br />
    <br />
    <p><b>The tutorials in this writing center will walk you
        <br /><br />through all parts of writing an essay. You can
        <br /> <br />access them by clicking on the links below or by 
        <br /><br />using the links in the left margin. Tutorials have 
        <br /><br />strategies for writing:<br /> 
        <br />
    <a href="~/Home/Introduction">An Introduction</a><a href="~/Home/Thesis">
        <br />
        <br />A Thesis Statement</a>
        <br />
        <br />
    <a href="~/Home/BodyParagraph">Body Paragraphs</a>
        <br />
        <br /><a href="~/Home/Conclusion">Conclusion</a></b>
</p>
    
    
</div>
<div class="col-md-4"></div>
    