
@{
    ViewBag.Title = "Introduction";
}

<h2>Introduction</h2>
<iframe src="https://docs.google.com/presentation/d/e/2PACX-1vQaPMxJpo77zq0Os6_s-qLBzu314VtWBa1aLE7DWmJVeB1aDRy_atlfbsmBgTCyieDQ0IWLzQPkzsE4/embed?start=false&loop=false&delayms=3000" frameborder="0" width="960" height="569" allowfullscreen="true" mozallowfullscreen="true" webkitallowfullscreen="true"></iframe>