
@{
    ViewBag.Title = "Introduction";
}

<h2>Introduction</h2>
<iframe src="https://docs.google.com/presentation/d/e/2PACX-1vRpTKECTfBFDMttTE-yL0v4ft6nQbX8VCNJOAdU5ZKM7qwUiI9g85aBZhpvA6qFcirsVVn9gHkm1f9J/embed?start=false&loop=false&delayms=5000" frameborder="0" width="960" height="569" allowfullscreen="true" mozallowfullscreen="true" webkitallowfullscreen="true"></iframe>
