
@{
    ViewBag.Title = "MlaVsApa";
}

<h2>MlaVsApa</h2>

<iframe src="https://docs.google.com/presentation/d/e/2PACX-1vSZPcaXkZQmpw4kLUbaYBMQOnjx06u4yzyIfWT0FLm1gC2E8pGgjGynIxOTR_4yOgU8JafptkzouVWM/embed?start=false&loop=false&delayms=5000" frameborder="0" width="960" height="749" allowfullscreen="true" mozallowfullscreen="true" webkitallowfullscreen="true"></iframe>