
@{
    ViewBag.Title = "SampleParagraph";
}
<h2 class="center">@ViewBag.Title</h2>

<div class="col-md-6">
    Paragraph Here Filled with Links. This section should also have a large margin and padding
    and a different background image than the rest does
    @* Links here will go to pages that show the following slides *@
    <a href="#"></a>
    <a href="Thesis">This is where the thesis statement can be found</a>
</div>
<div class="col-md-3">
    How to pick a topic sentince
    links to grammer
    how to use spellcheck with word, or grammerly
    other suggestions
    
</div>


