
@{
    ViewBag.Title = "Thesis";
}

<h2>Thesis</h2>
<iframe src="https://docs.google.com/presentation/d/e/2PACX-1vSIP6FlU8IUACfjsTiRtZYPn6PAdAXMqbem6IGkqiknqOWoKoK_GcJX6_yhKzWKebJajW___Mx-X26R/embed?start=false&loop=false&delayms=3000" frameborder="0" width="960" height="569" allowfullscreen="true" mozallowfullscreen="true" webkitallowfullscreen="true"></iframe>