
@{
    ViewBag.Title = "Thesis";
}

<h2>Thesis</h2>
<iframe src="https://docs.google.com/presentation/d/e/2PACX-1vTkBWyiqJrsBuQ0mkhXK3kczGLUG7yaq3FoM33aM45iC697RsQPEcPb0Fh6W06MMiL7G7pyFVqW6Z9W/embed?start=false&loop=false&delayms=5000" frameborder="0" width="960" height="569" allowfullscreen="true" mozallowfullscreen="true" webkitallowfullscreen="true"></iframe>