
@{
    ViewBag.Title = "WritingProcess";
}

<h2>Writing Process</h2>

<iframe src="https://docs.google.com/presentation/d/e/2PACX-1vTODhyo_oB-6YzrG9NpUv_feoa_5hHK4LXIZEP9dFwNKdLIHGrhgWL9eA-coBkJrieTgKWdq6xNDWY6/embed?start=false&loop=false&delayms=3000" frameborder="0" width="960" height="569" allowfullscreen="true" mozallowfullscreen="true" webkitallowfullscreen="true"></iframe>